# AI Models Weights and Cache
hf_cache/

# User Data
# SRT-input/*
SRT-output/*

# Python/Docker junk
__pycache__/
.ipynb_checkpoints/
.env

# test and temporary files
srt_translator_app.ipynb
test.ipynb
web_app.py