# AI Models Weights and Cache
hf_cache/

# User Data
SRT-input/*
!SRT-input/.gitkeep

SRT-output/*
!SRT-output/.gitkeep

# junk folders
__pycache__/
.ipynb_checkpoints/
.env
.cache/
hf_cache/

# test and temporary files
test.ipynb